{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Masters Assignment Writing Help In Dubai By UAE Best Writers</title>
	<!-- -->
	<link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'styles/main.css' %}">

	<!-- SEO Meta Tags-->
	<meta name="description" content="Masters Assignment Writing Help In Dubai By UAE Best Writers">
	<meta name="keywords" content="bootstrap, business, consulting, coworking space, services, creative agency, dashboard, e-commerce, mobile app showcase, multipurpose, product landing, shop, software, ui kit, web studio, landing, html5, css3, javascript, gallery, slider, touch, creative">
	<!-- <meta name="author" content="codemata"> -->
	<!-- Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon and Touch Icons-->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon.png' %}">
	<!-- <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"> -->
	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<!-- <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg"> -->
	<!-- <meta name="msapplication-TileColor" content="#766df4"> -->
	<meta name="theme-color" content="#ffffff">


</head>
<body>
	{% include 'main/nav.html' %}
	<div class="container-main">
		{% block content %}
		{% endblock content %}
	</div>

	<footer class="bg-dark-blue mt-5 p-5 text-light-blue fw-light">
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="col border-bottom mb-2">
						<p>
							Isn’t it amazing? Clearly we don’t just claim to be the best assignment writing service in Dubai, and instead have all the top qualities like qualified assignment writers, low price services, plagiarism free work, and high quality assignments! Contact us now to ace your results!
						</p>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="col-5 border-end">
						<p>&copy; Copyright 2021 &commat;UAE Freelancers &middot; All Rights Reserved</p>
					</div>
					
					<div class="col-5">
						<p class="fw-bold mb-0">Contact Us:</p>
						<div>&dotsquare; <a href="mailto:academicassistance4students@gmail.com" class="email">academicassistance4students@gmail.com</a></div>
						<div>&dotsquare; +971 547441223</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'scripts/submit.js' %}"></script>
</body>
</html>