{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Masters Assignment Writing Help In Dubai By UAE Best Writers</title>
	<!-- -->
	<link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'styles/main.css' %}">

	<!-- SEO Meta Tags-->
	<meta name="description" content="Masters Assignment Writing Help In Dubai By UAE Best Writers">
	<meta name="keywords" content="bootstrap, business, consulting, coworking space, services, creative agency, dashboard, e-commerce, mobile app showcase, multipurpose, product landing, shop, software, ui kit, web studio, landing, html5, css3, javascript, gallery, slider, touch, creative">
	<meta name="author" content="codemata">
	<!-- Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon and Touch Icons-->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon.png' %}">
	<!-- <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"> -->
	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<!-- <link rel="mask-icon" color="#5bbad5" href="safari-pinned-tab.svg"> -->
	<!-- <meta name="msapplication-TileColor" content="#766df4"> -->
	<meta name="theme-color" content="#ffffff">


</head>
<body>
	{% include 'main/nav.html' %}
	<div class="container-main">
		{% block content %}
		{% endblock content %}
	</div>

	<footer class="mt-5">

    <div class="bg-dark-blue container-fluid">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="pt-4 pb-2 text-center">
							<p class="fw-light text-light">
								Isn’t it amazing? Clearly we don’t just claim to be the best assignment writing service in Dubai, and instead have all the top qualities like qualified assignment writers, low price services, plagiarism free work, and high quality assignments! Contact us now to ace your results!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid bg-light-blue">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="text-center">
							<p class="pt-3 fw-bold">
								&copy; Copyright 2021 &commat;UAE Freelancers <br> All Rights Reserved
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!-- <div class="col">
          <ul class="fw-light">
            <li>
              <a href="mailto:academicassistance4students@gmail.com">academicassistance4students@gmail.com</a>
            </li>
            <li>
              +971 547441223
            </li>
          </ul>        
			</div> -->
  
	</footer>
	<script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
</body>
</html>