{% extends "main/base.html" %}
{% load static %}

{% block content %}

<header class="header">
  <div class="header__text-box">
    <h1 class="display-1 fw-bold text-shadow">Top University Graduates</p>
    <p class="lead fs-3 text-shadow">Proficient in all Assignments</p>
    <p class="lead fs-4 text-shadow">Proficient in 100+ subjects (from English to Nursing)</p>
    <p class="lead fs-4 text-shadow">Familiar with all the formatting styles (MLA, APA, etc.)</p>
  </div>
</header>

<section class="container-fluid py-5 header--section">
  <div class="container pt-5">
    <div class="row pt-5 justify-content-center">
      <div class="col-md-12 col-lg-5">
        <p class="fs-3 fw-bold">The More You Know, The Better</p>
        <p>
          91% of our experts are PhD degree holders
        </p>
        <p class="fw-light">
          Quickest delivery recorded is <strong>2 hours!</strong> 
          It was an urgent 1800-word essay task
          All our experts have at least 7 years experience
          We have experts with excellent skills in academic, research, Linguistics, Literary Analysis, and article writing on different topics.We also have freelancer for penetration tester, focused on web and mobile application security along with programming skills.        
        </p>
      </div>

      <div class="col-md-12 col-lg-5">
        <img class="img-fluid" src="{% static 'images/in stant asignment help.jpg' %}" alt="in stant asignment help.jpg">
      </div>
    </div>
  </div>
</section>

<section class="experts-section">

</section>

{% endblock %}