<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<form 
		style="border: 2px solid black; display: inline-block; padding: 1.5rem; margin: 1rem auto; width: 400px;"
		method="POST"
		action="{{ reverse('submit') }}"
	>
		{% csrf_token %}
		{% if form.errors %}
			{{ form.errors }}
		{% endif %}
		<h4>Fill Form & Get Free Assignment Quote<h4>

		<p>
			<input type="text" name="full_name" placeholder="Enter Your Name">
			<input type="email" name="email" placeholder="Enter Your Email">
		</p>
		
		<p>
		<select name="country" id="country">
			<option>Nigeria</option>
			<option>USA</option>
			<option>UAE</option>
			<option>China</option>
		</select>
		<input type="phone" name="phone" placeholder="Phone">
		</p>

		<p>
		<input type="text" name="subject" placeholder="Subject Name">
		<input type="date" name="deadline" placeholder="Enter Deadline">
		</p>

		<p>
		<select name="EducationLevel">
			<option>Education Level</option>
			<option>Graduate</option>
			<option>College</option>
			<option>University</option>
		</select>
		
		<select name="ReferencingStyle">
			<option>Referencing Style</option>
			<option>Havard</option>
			<option>APA</option>
			<option>MLA</option>
		</select>
		</p>

		<p>
		<select name="PaperLength">
			<option>Paper Length</option>
			<option>1 Pages/250 words</option>
			<option>2 Pages/25230 words</option>
			<option>3 Pages/59550 words</option>
			<option>4 Pages/1000 words</option>
		</select>

		<select name="Paper Type">
			<option>Paper Type</option>
			<option>Assignment</option>
			<option>Bibilography</option>
			<option>Autography</option>
			<option>Thesis</option>
		</select>
		<p>

		<p>	
		<textarea placeholder="Enter Question">
			
		</textarea>
		<p>
		<div><input type="file" name=""></div>

		<button type="submit">Submit</button>
	</form>
</body>
</html>