{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-blue">
	<div class="container">
		<a class="navbar-brand" href="{% url 'main:index' %}">
			<img src="{% static 'images/logo.png' %}" alt="company logo" class="logo img-fluid">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class='navbar-nav me-auto mb-2 mb-lg-0'>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{% url 'main:index' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'main:services' %}">Services</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'main:samples' %}">Samples</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'main:experts' %}">Experts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'main:reviews' %}">Reviews</a>
				</li>
			</ul>

			<a href="{% url 'main:submit' %}" class="btn bg-blue fw-bold float-lg-end" name="button">Order Now</a>
			
		</div>
	</div>
</nav>