{% extends "main/base.html" %}
{% load static %}

{% block content %}
  <main class="container-fluid">
    <div class="container">
      <div class="mt-5 mb-3 pb-2">
        <div class="row justify-content-between">
          <div class="col-5">
            
            <h2 class="h2 fw-normal">UAE Freelancers Reviews</h2>
          </div>
          <div class="col-2">
            <button type="button" class="btn bg-dark-blue text-white" data-bs-toggle="modal" data-bs-target="#reviewsModal" name="button">Write a Review</button>
          </div>
        </div>
      </div>  
    </div>
  </main>

  <section class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-7">
          {% for object in object_list %}
          <div class="card mb-2">
            <div class="card-body">
              <p class="h5 card-title text-dark-blue">{{ object.title|title }}</p>
              <p class="text-secondary" style="font-size: 13px;">By {{ object.name|title }}, {{ object.qualification }}</p>
              <p class="text-break">{{ object.description }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="col">
          <div class="row">
            <div class="p-3 rounded bg-light-blue text-center">
              <div class="col">
                
                <span class="stars">&bigstar;&bigstar;&bigstar;&bigstar;&bigstar;</span>
                <h1 class="display-4 text-dark-blue">5 Star Ratings</h1>
                <p class="fs-4 fw-light">Over 10000+ Assignment Delivered</p>
              </div>
            </div>
            <div class="bg-light-blue text-center rounded mt-2 py-2">
              <div class="col">
                <h3 class="p-2 text-dark-blue">Hire Us Now</h3>
                {% include "main/assignment_form.html" %}
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  
  {% include "main/pagination.html" %}
  {% include "main/reviews_form.html" %}

{% endblock %}
