{% extends "main/base.html" %}
{% load static %}

{% block content %}
  <main class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="mt-4 border-bottom">
            <p class="display-5 fw-normal">Reviews
              <button type="button" class="btn bg-dark-blue text-white float-md-end" data-bs-toggle="modal" data-bs-target="#reviewsModal" name="button">Write a Review</button>
            </p>
          </div>
        </div>
      </div>
    
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="text-center p-3 bg-light-blue">
            <p class="fs-2 fw-light">No&period; 1 Assignment Help Company</p>
            <p class="display-1 text-dark-blue">4.9</p>
            <p class="fs-4">Based on 2000+ reviews</p>
            <p class="fs-5">100% Verified Reviews for Assignment Help UAE</p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <section class="container-fluid">
    <div class="container">
      <div class="row justify-content-between">
        {% for object in object_list %}
        <div class="col-4">
          <div class="card mt-4">
            <div class="card-body">
              <p class="h5 card-title text-dark-blue">{{ object.title|title }}</p>
              <p class="text-secondary" style="font-size: 13px;">By {{ object.name|title }}, {{ object.qualification }}</p>
              <p class="text-break">{{ object.description }}</p>
            </div>
          </div>
        </div>
        {% empty %}
          <p>No reviews yet.</p>
        {% endfor %}
      </div>
    </div>
  </section>
  
  {% include "main/pagination.html" %}
  {% include "main/reviews_form.html" %}

{% endblock %}
