{% extends "main/base.html" %}

{% block content %}

<section class="container-fluid bg-light-blue">
  <div class="container">  
    <div class="row">
      <div class="col">
        <div class="text-center pt-5 pb-2 text-dark-blue">
          <h2>{% block heading %}{% endblock %}</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pb-4">
      <div class="col-lg-5">
        {% block search_by_text %}{% endblock %}
      </div>
      
      <div class="col-4">
        {% block search_by_dropdown %}{% endblock %}       
      </div>
      
    </div>
  </div>
</section>

<section class="container-fluid mt-4">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-6">
        <div class="row">
          {% block samples %}
          {% endblock %}
        </div>

      </div>

      <div class="col-lg-5 col-md-12">
        <div class="border rounded mt-sm-4 mt-3 mt-md-0 p-3 text-center">
          <h5>Hire Us Now</h5>
          {% include 'main/assignment_form.html' %}
        </div>
      </div>


    </div>
  </div>
</section>

{% endblock %}