@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
}

.nav-link {
  color: inherit;
}

.logo {
  border-radius: 100px;
  width: 72px;
}

.bg-blue {
  background-color: #72dfd0;
}

.bg-dark-blue {
  background-color: #03414d;
}

.bg-light-blue {
  background-color: #eff7f7;
}

.text-blue {
  color: #72dfd0;
}

.text-dark-blue {
  color: #03414d;
}

.border {
  border-color: #03414d !important;
}

.copyright {
  font-size: 0.8rem;
}

.stars {
  font-size: 6rem;
  color: #1a9fad;
}

.header {
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgb(3, 65, 77),
      rgba(11, 75, 75, 0.9),
      rgba(33, 87, 79, 0.933)
    ),
    url(../images/bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.header__text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #d7fcf6;
}

.text-shadow {
  text-shadow: 1px 1px 8px black;
}

.header--section {
  margin-top: -65px;
}
