@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend", sans-serif;
}

.nav-link {
  color: inherit;
}

.logo {
  border-radius: 100px;
  width: 72px;
}

.bg-blue {
  background-color: #72dfd0;
}

.bg-dark-blue {
  background-color: #03414d;
}

.bg-light-blue {
  background-color: #dde7e7;
}

.text-blue {
  color: #72dfd0;
}

.text-dark-blue {
  color: #03414d;
}

.experts-section {
  background-image: linear-gradient(
    to right top,
    rgba(221, 231, 231, 0.5),
    rgba(3, 65, 77, 0.03)
  );
}
